<div>
  <a href="#/"><button>Home Page</button></a>
  <!-- <a href="#/shop/cart"><button>View LuxBag</button></a> -->
</div>

<div ng-repeat="cheapproduct in cheapproducts">
   <h3>{{cheapproduct.bag}}</h3>
	<h3>{{cheapproduct.designer}}</h3>
	<h3>{{cheapproduct.price | currency}}</h3>
	<img ng-src="{{cheapproduct.image}}" width="150" height="150" alt="bag"/>
	<p>{{cheapproduct.description}}</p>
	<a href ="{{cheapproduct.link}}"></a>
  <a href="#/storefreatureadminhttp/{{cheapproduct._id}}"><button>view shop cart</button></a>
  <button ng-click="addBag(cheapproduct)">Add To Luxbag</button>
</div>


