
<h3>Luxury Product</h3>

<form ng-submit="addProducts(newProduct)">
		<input type="text" placeholder="Bag Name" ng-model="newProduct.bag"/>
		<input type="text" placeholder="Bag Designer" ng-model="newProduct.designer"/>
		<input type="number" placeholder="Price of Bag" ng-model="newProduct.price"/>
		<textarea placeholder="Description of Bag" ng-model="newProduct.description" name="" id="" cols="30" rows="15"></textarea>
		<input type="url" placeholder=" Image of Bag" ng-model="newProduct.image"/>
		<input type="url" placeholder="Link to Bag" ng-model="newProduct.link"/>
	<button type= "submit"> Add Lux Bag </button>
</form>


